.Rproj.user
.Rproj
.Rplots.pdf
.Rhistory
.RData
.Ruserdata
shadia.Rproj
src/*.o
src/*.so
src/*.dll
notcommit/
R/growthCurvesBootstrapped.R
R/arrivalRegression.R
sf-exampleCTR-tester.R
sf-exampleMMR-tester.R
sf-examplePNR-tester.R
sf-exampleSSR-tester.R
susPrep
*.pdf
sacoPrep
notcommit
ssr-result.rda
